Chapter:&nbsp;<%= link_to @chapter.name, @chapter %>
<h1 class="page-header"><%= @example.name %></h1>
<%= content_tag :div, class: "description" do
  @example.description
end if @example.description %>

<%= content_tag :script, class: "example_script_code" do
  raw File.read(@example.example_js_file_path)
end if @example.template_name %>

<h3>Example</h3>
<%= content_tag :div, class: "example_content" do
  raw File.read(@example.example_html_file_path)
end if @example.template_name %>

<div class="example_sample_container">
  <h3 class="sample_header">JavaScript Code Sample <span class="toggler"></span></h3>
  <%= content_tag :pre, class: "example_sample_preview" do
    File.read(@example.example_js_file_path)
  end %>
</div>

<div class="example_sample_container">
  <h3 class="sample_header">HTML Sample <span class="toggler"></span></h3>
  <%= content_tag :pre, class: "example_sample_preview" do
    File.read(@example.example_html_file_path)
  end %>
</div>