Chapter:&nbsp;<%= link_to @chapter.name, @chapter %>
<h1 class="page-header"><%= @example.name %></h1>
<%= content_tag :div, class: "description" do
  @example.description
end if @example.description %>

<% if @example_js %>
    <%= content_tag :script, class: "example_script_code" do
      raw @example_js
    end %>
<% end %>

<h3>Example</h3>
<%= content_tag :div, class: "example_content" do
  raw @example_html
end %>

<% if @example_js %>
    <div class="example_sample_container">
      <h3 class="sample_header">JavaScript Code Sample <span class="toggler"></span></h3>
      <%= content_tag :div, class: "example_sample_preview" do
        raw CodeRay.scan(@example_js, :javascript).div(:line_numbers => :table)
      end %>
    </div>
<% end %>

<% if @example_html %>
    <div class="example_sample_container">
      <h3 class="sample_header">HTML Sample <span class="toggler"></span></h3>
      <%= content_tag :div, class: "example_sample_preview" do
        raw CodeRay.scan(@example_html, :html).div(:line_numbers => :table)
      end %>
    </div>
<% end %>
