<% content_for :page_title_prefix, "#{@chapter.name} : " %>

<%= link_to 'Index: /', root_path %>

<h1><%= @chapter.number %>) <%= @chapter.name %></h1>

<ol>
  <%= render @chapter.examples %>
</ol>

<% if (edit_mode_enabled?) %>
    <hr/>
    <%= link_to 'Edit Chapter', edit_chapter_path(@chapter) %>
    <hr/>
    <%= simple_form_for([@chapter, @chapter.examples.build], wrapper: :bootstrap3_inline, html: {class: "form-inline", role: "form"}) do |f| %>
        <%= f.input :name, label: false, placeholder: 'Example Name', inline_label: 'Example Name' %>
        <%= f.submit "Add", :class => "btn" %>
    <% end %>
<% end %>

