<!DOCTYPE html>
<html>
<head>
  <title>JqueryIntro</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :page_assets %>

</head>
<body>
<%= render :partial => 'layouts/navbar' %>

<p id="notice"><%= notice %></p>

<div class="container">
<%= yield %>
</div>

</body>
</html>
